html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-text-color: #1a1919;
  --caption-text-color: #919191;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 25px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* header */

.logo {
  max-width: 100%;
  height: auto;
}

.intro {
  display: flex;
  justify-content: center;

  padding-left: 15px;
  padding-right: 15px;

  background-color: var(--main-text-color);
}

/* main content */
.main-content {
  background-image: url(./images/lunarrock_s_overexposure.png);
}

.content,
.contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px;
}

.preview {
  width: 60%;
}

.content .title,
.contacts .title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.list {
  list-style: none;
}

.list .list-item {
  margin-bottom: 20px;
}

.list .list-item:first-child {
  margin-top: 20px;
}

.link {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 50px;
  margin-top: 30px;
  color: #1a1919;
}

.link:hover {
  color: #919191;
}

.content .preview {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: left;
}

.contacts > a {
  text-decoration: none;
  color: black;
}

.contacts > a:hover {
  color: #919191;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  color: var(--caption-text-color);
}

.footer {
  background-color: var(--main-text-color);
}
